-e .  # Get self and dependencies from setup.py

    #Twisted==16.5.0
    git+https://github.com/twisted/twisted.git#egg=Twisted
        zope.interface==4.3.2

    klein==15.3.1
        #twisted ...
        Werkzeug==0.11.11
